<div id="<%= dom_id holiday %>">
  <p>
    <strong>Startdate:</strong>
    <%= holiday.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= holiday.enddate %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= holiday.employee_id %> (<%= @employee_assignned_name %>)
  </p>

</div>
