<div id="<%= dom_id holiday %>" class="well well-lg col-lg-3">
<% @duration = ((holiday.startdate.jd..holiday.enddate.jd).count) -1 %>
<h6><%= "DURATION: #{@duration} ( Days off)" %></h6>
<hr />
  <p>
    <strong>Startdate:</strong>
    <%= holiday.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= holiday.enddate %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= holiday.employee_id %> (<%= @employee_assignned_name %>)
  </p>

</div>
