<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Edit this employee", edit_employee_path(@employee), class:"btn btn-info" %> |
  <%= link_to "Back to employees", employees_path, class:"btn btn-info" %>
<div class="displayInline">
  <%= button_to "Destroy this employee", @employee, method: :delete, class:"btn btn-danger" %>
</div>
</div>
<hr/>
<div class="row">
<h1 class="displayInline col-lg-6"><%= "#{@employee.name.upcase}'s Holidays" %></h1>
<h5 class="displayInline col-lg-4"> <%= link_to "Add Holiday", :controller => holidays_path, :action => :new, :id =>@employee.id, class:"btn btn-info" %></h5></div>
<div id="holidays" class="col-lg-12 row displayInline row">
  <% @employee_holidays.each do |em| %>
   <div class="well well-lg col-lg-4 displayInlineBlock holidaysDiv">
  <p>
    <strong>Startdate:</strong>
    <%= em.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= em.enddate %>
  </p>
  <p>
      <%= link_to "VIEW", holiday_path, class:"btn btn-info" %>
      <%= link_to "EDIT", edit_holiday_path, class:"btn btn-info" %>
    </p>
</div>
</div>
  <% end %>
</div>

